<div class="card card-gossip">
  <div class="card-header">
    <H2><%= @gossip.title %></h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @gossip.content %></p>
      <footer class="blockquote-footer">Cet article a été écrit par <b><%= @gossip.user.first_name %></b> de la ville de <b><%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %></b> : <%= link_to "plus d'infos sur l'auteur", user_path(@gossip.user.id) %></footer>
    </blockquote>
  </div>
</div>
